@import "_config.scss";

.App {
  background: #333;
}

.container-fluid {
  min-height: calc(100vh - 85px - 488px);
  background: snow;
}
#cardLayout {
  background: #333;
}

.cardContent {
  color: black;
}

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 85px;

  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
    font-family: Courgette;
    color: $red;
    padding-top: 1rem;
    padding-bottom: none;
  }
  .logo p {
    padding-bottom: 0.5rem;
    padding-top: none;
    color: $white;
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    button {
      color: white;
    }

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;
      font-family: Poppins;

      &.last {
        margin: 0;
      }

      a {
        color: $white;
        font-size: 20px;
        line-height: normal;
      }
    }
  }
}

p {
  color: #999;
  line-height: 25px;
}

h2,
h3 {
  color: #fff;
  padding: 10px;
}
h2 {
  font-size: 18px;
}

.footer-top {
  background: #111;
  padding: 80px;
}

.segment-one h3 {
  font-family: Courgette;
  color: $red;
  letter-spacing: 3px;
  margin: 10px 0;
}
#imageStyle {
  padding-top: 10px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  opacity: 0.8;
}
.segment-two h2 {
  color: white;
  font-family: Poppins;
  text-transform: uppercase;
  margin: 10px 0;
  padding-top: 10px;
}
.segment-two h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
.segment-two ul li a {
  color: #999;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $red;
    @include transition(0.4s ease-in-out);
  }
}
.segment-three h2 {
  color: white;
  font-family: Poppins;
  text-transform: uppercase;
  margin: 10px 0;
  padding-top: 10px;
}
.segment-three h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}
.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
  &:hover {
    text-decoration: none;
    color: $red;
    @include transition(0.4s ease-in-out);
  }
}

.segment-four h2 {
  color: white;
  font-family: Poppins;
  text-transform: uppercase;
  margin: 10px 0;
  padding-top: 10px;
}
.segment-four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.footer-bottom-text {
  background: #000;
  text-align: center;
  font-family: Poppins;
  line-height: 75px;
  font-size: 16px;
}

/* responsive SCSS */
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  border-radius: 10%;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .logo h1 {
    font-size: 28px;
  }
  .container-fluid .row {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid .row {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: -15px;
    height: 92vh;
    top: 40px;
    background: #111;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 45px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    li {
      margin: 0px;
    }
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.card .cardPic {
  padding-top: 1.5rem;
}

#cardFavicon {
  color: #c65039;
  font-size: 6rem;
}

.card {
  width: 20rem;
  margin: 15px;
  border-radius: 5px;
}
.card .row {
  padding-top: 10px;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
  color: black;
}
.card-title {
  color: $red;
  font-family: Courgette;
  font-size: 1.5em;
}

.container-fluid .row {
  padding-top: 4rem;
}

#infoCard {
  background: lightgray;
  height: 504.9px;
  &:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 250, 250, 0.2);
  }
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

//RESUME PAGE STYLING

//Grid Layout Style

.summary {
  grid-column: 2/4;
  text-align: center;
  justify-self: center;
}

.info {
  text-align: center;
  justify-self: center;
}

.skillTitle {
  grid-column: 1/4;
  justify-self: center;
}

.skillsList {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
}

.expTitle {
  grid-column: 1/4;
  justify-self: center;
}

.portfolioImg {
  img {
    max-width: 400px;
    max-height: 300px;
    opacity: 0.9;
    &:hover {
      box-shadow: 5px 10px 20px 1px rgba(255, 250, 250, 0.2);
    }
  }
}

.portfolioContent {
  grid-column: 2/4;
  text-align: center;
}

.grid {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  margin-top: 20px;
  background: #333;
  color: #999;
  font-family: Poppins;
  line-height: 30px;
  font-size: 1.2em;
  a {
    color: #999;
    &:hover {
      color: $red;
    }
  }
  h1 {
    line-height: 2.5em;
    font-size: 1.7em;
    font-family: Courgette;
    color: $white;
    text-decoration: underline;
    text-decoration-color: $red;
  }
  h2 {
    font-size: 1.5em;
    font-family: Courgette;
    color: #999;
  }
}

// End Grid Layout

#skillTree {
  text-decoration: none;
  list-style: none;
}

#resumeSpecial {
  background: #666;
}
